<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="images/style.css" />
    <!-- importing bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

</head>

<body>
    <!-- Jumbotron -->
    <div class=" jumbotron p-5 text-center bg-dark text-light">
        <!-- <img src="banner-photo.jpeg" alt=""> -->
        <h1 class="mb-3">Sea Elevation Forecast</h1>
        <h4 class="mb-3">The fate of our coastlines</h4>
    </div>
    <!-- Jumbotron -->

    <div id="main-body" class="container">
        <p>Instructions: To use this tool, find the coordinates of your favourite coastal location and enter them into the text box below (Use negative for West and South coordinate and positive for North and East). Press the “predict” button to see the predicted number of years before that location is engulfed by the water</p>
        <div id="input">
            <form action="/" method="POST">
                <label for="coordinates">Enter your coordinates: </label>
                <input type="text" id="coordinates" name = "coordinates" placeholder="latitude, longitude">
                <button id="submit-button" type="submit" name = "send" value = "submit" class="btn btn-secondary text-light" >Predict </button>
            </form>
        </div>

        <div id="flex-containter" class="container">
            <div class="row">
                <div id="graph" class="col-md">
                    <img id="graph-image" src="{{path}}">
                    <!-- bruh -->
                </div>
                <div id="info" class="col-md">
                    <div id="years-left" class="text-danger">
                        <h3> <span id="years-left-span">{{message}}</span> years</h3>
                        <h4>until your location is underwater</h4>
                    </div>
                    <p>One of the many consequences of climate change and global warming is the melting of our ice caps.
                       As all of that ice melts, the newly-freed liquid water enters our ocean and changes our sea levels.
                        Now rising sea levels threatens many coastal environments.
                         Unless we make drastic and immediate changes to the current rate of climate change, all of our most precious sea-side cities,
                         towns, and ecosystems will be lost to the ocean.
                    </p>
                    <!-- bruh 2 -->
                </div>
            </div>
        </div>

        <hr>

        <div id="about">
            <h2>About The Project</h2>
            <p>This website was created as a submission for HackMIT 2021. The goal is to use data analysis to show the
              impact of climate change to public individuals and hopefully convince more people to take action.
              It was created using <a href="https://podaac.jpl.nasa.gov/dataset/MERGED_TP_J1_OSTM_OST_GMSL_ASCII_V5">GMSL dataset</a>,
              <a href="https://open-elevation.com/">Open Elevation API</a>, and <a href="http://statsmodels.org/stable/index.html">statsmodels library</a>.
            </p>
            <p>We have used Open Elevation API for checking the elevation of the coordinates that the user provided.
               Subsequently, we used GMSL dataset and ran vector autoregression to predict when the global mean sea level would
                rise over the given coordinate elevation. </p>
            <div class="row">
                <div class="col avatar-card">
                    <img src="images/sam.jpg" style = "height: 11em;
                    border-radius: 33%;">
                    <h4>Sambhav Gupta</h4>
                    <p><a href = 'http://www.sambhavgupta.com'>Personal Website</a></p>
                    <p><a href = 'https://www.linkedin.com/in/samg2003/'>LinkedIn</a></p>
                </div>
                <div class="col avatar-card">
                  <img src="images/liza.png" style = "height: 11em;
                  border-radius: 33%;">
                    <h4>Liza George</h4>
                    <p><a href = 'https://github.com/lizageorge'>GitHub</a></p>
                    <p><a href = 'https://www.linkedin.com/in/george-liza/'>LinkedIn</a></p>
                </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>


<!-- photo credits: Photo by Emiliano Arano from Pexels -->
<!-- content: https://docs.google.com/document/d/1pzZTHmUFeQzWLWOkGl35s5MfqhDokXvDgXgGJTU8MeU/edit?usp=sharing -->
