<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="style.css">
    <!-- importing bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

</head>

<body>
    <!-- Jumbotron -->
    <div class=" jumbotron p-5 text-center bg-dark text-light">
        <!-- <img src="banner-photo.jpeg" alt=""> -->
        <h1 class="mb-3">Title TBD</h1>
        <h4 class="mb-3">Subheading TBD</h4>
    </div>
    <!-- Jumbotron -->

    <div id="main-body" class="container">
        <p>Instructions: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa soluta voluptatum vero
            inventore! Adipisci et sapiente consequatur corrupti animi ipsam recusandae, omnis cum quae maiores
            explicabo repudiandae sit ut magnam.</p>
        <div id="input">
            <form>
                <label for="coordinates">Enter your coordinates: </label>
                <input type="text" id="coordinates">
                <button id="submit-button" type="button" class="btn btn-secondary text-light" >Predict </button>
            </form>
        </div>

        <div id="flex-containter" class="container">
            <div class="row">
                <div id="graph" class="col-md">
                    <img id="graph-image" src="https://via.placeholder.com/300x400.png?text=Sea+Level+Graph+Goes+Here">
                    <!-- bruh -->
                </div>

                <div id="info" class="col-md">
                    <div id="years-left" class="text-danger">
                        <h3> <span id=years-left-span">XX</span> years</h3>
                        <h4>until your location is underwater</h4>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mollis aliquam sem. Morbi fringilla
                        sagittis felis, vitae bibendum nulla vehicula at. Maecenas sed venenatis nulla, in suscipit
                        odio. Donec odio magna, viverra ultrices mattis in, semper vitae tellus. Aliquam lacinia et nisi
                        nec eleifend. Morbi consectetur, sapien sit amet dapibus iaculis, eros eros vestibulum enim,
                        vitae placerat diam sapien at nibh. Nulla felis diam, egestas non elit id, eleifend vehicula
                        nunc. Pellentesque vehicula ipsum mauris, nec dapibus odio dapibus et. Phasellus lacinia at ante
                        quis ullamcorper. Nunc sapien tellus, suscipit vitae diam ut, posuere laoreet augue.
                    </p>
                    <!-- bruh 2 -->
                </div>
            </div>
        </div>

        <hr>

        <div id="about">
            <h2>About The Project</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mollis aliquam sem. Morbi fringilla sagittis
                felis, vitae bibendum nulla vehicula at. Maecenas sed venenatis nulla, in suscipit odio. Donec odio
                magna, viverra ultrices mattis in, semper vitae tellus. Aliquam lacinia et nisi nec eleifend. Morbi
                consectetur, sapien sit amet dapibus iaculis, eros eros vestibulum enim, vitae placerat diam sapien at
                nibh. Nulla felis diam, egestas non elit id, eleifend vehicula nunc. Pellentesque vehicula ipsum mauris,
                nec dapibus odio dapibus et. Phasellus lacinia at ante quis ullamcorper. Nunc sapien tellus, suscipit
                vitae diam ut, posuere laoreet augue.
            </p>
            <div class="row">
                <div class="col avatar-card">
                    <img src="images/avatar-placeholder.png" class="avatar-image">
                    <h4>Sambhav Gupta</h4>
                    <p>links and stuff</p>
                </div>
                <div class="col avatar-card">
                    <img src="images/liza-avatar.png" class="avatar-image">
                    <h4>Liza George</h4>
                    <p>links and stuff</p>
                </div>
                <div class="col avatar-card">
                    <img src="images/avatar-placeholder.png" class="avatar-image">
                    <h4>Francesco Crivelli</h4>
                    <p>links and stuff</p>
                </div>
                <div class="col avatar-card">
                    <img src="images/avatar-placeholder.png" class="avatar-image">
                    <h4>Michael Equi</h4>
                    <p>links and stuff</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>


<!-- photo credits: Photo by Emiliano Arano from Pexels -->
<!-- content: https://docs.google.com/document/d/1pzZTHmUFeQzWLWOkGl35s5MfqhDokXvDgXgGJTU8MeU/edit?usp=sharing -->