div{
    /* border: 1px solid black; */
}
/* 
:root{
    --dark: 2D3047;
    --warning: DA2C38;
    --highlight: 70A288;
    --background: 70A288
} */

@media screen and (max-width: 768px){
    body{
        padding: 20px;
    }
}


@media only screen and (min-width: 629px) {
    .jumbotron{
        background: linear-gradient(0deg, rgba(1, 0, 73, 0.3), rgba(1, 0, 73, 0.3)), url(banner-photo.jpeg);
        background-size: 100vw;
    }
}

h2{
    text-align: center;
    padding: 10px 0px 10px  0px;

}

div{
    padding: 10px 5px;
}

#graph,  #input, #years-left{
    text-align: center;
}
#graph{
    padding: 0px;
}

#years-left{
    /* display: none; <----change based on whether or not input is delivered*/ 
}